/.DS_Store/
/**/.DS_Store/
/.idea/
/bench/**/BenchmarkDotNet.Artifacts/
/bench/**/bin/
/bench/**/obj/
/eng/**/bin/
/eng/**/obj/
/native/audio/target/
/native/clrprof/target/
/native/misc/obj/
/native/misc/out/
/native/pack/
/smoke/**/bin/
/smoke/**/obj/
/src/**/bin/
/src/**/obj/
/test/**/bin/
/test/**/obj/
/test/**/TestResults/
/TestResults/
/tmp/
