/.DS_Store/
/*/.DS_Store/
/.idea/
/eng/**/bin/
/eng/**/obj/
/native/audio/target/
/native/misc/obj/
/native/misc/out/
/native/pack/
/src/**/bin/
/src/**/obj/
/test/**/bin/
/test/**/obj/
/TestResults/
